#### Operations using Pyspark

In [2]:
from pyspark.sql import SparkSession

In [5]:
Spark=SparkSession.builder.appName('OPR').getOrCreate()

#### Read the file

In [16]:
# Method 1
df_Spark=Spark.read.csv("C:/Users/reena/Desktop/python learning files/50_Startups.csv")
df_Spark.show()

+---------+--------------+---------------+----------+---------+
|      _c0|           _c1|            _c2|       _c3|      _c4|
+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [17]:
# Method 2
df_Spark=Spark.read.option('header','True').csv("C:/Users/reena/Desktop/python learning files/50_Startups.csv")
df_Spark.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|              0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [19]:
# Check the schema
df_Spark.printSchema()

root
 |-- R&D Spend: string (nullable = true)
 |-- Administration: string (nullable = true)
 |-- Marketing Spend: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: string (nullable = true)

In [21]:
# By default PySpark considers all variables as string, to change that use infer schema while reading the file
df_Spark=Spark.read.option('header','True').csv("C:/Users/reena/Desktop/python learning files/50_Startups.csv",inferSchema='True')
df_Spark.printSchema()

root
 |-- R&D Spend: double (nullable = true)
 |-- Administration: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)

In [25]:
# Method 3
df_Spark=Spark.read.csv("C:/Users/reena/Desktop/python learning files/50_Startups.csv",header='True',inferSchema='True')
df_Spark.show()
df_Spark.printSchema()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|            0.0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

root
 |-- R&D Spend: double (nullable = true)
 |-- Administration: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)

In [26]:
df_Spark.columns

['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit']

In [28]:
df_Spark.head(5)

[Row(R&D Spend=165349.2, Administration=136897.8, Marketing Spend=471784.1, State='New York', Profit=192261.83),
 Row(R&D Spend=162597.7, Administration=151377.59, Marketing Spend=443898.53, State='California', Profit=191792.06),
 Row(R&D Spend=153441.51, Administration=101145.55, Marketing Spend=407934.54, State='Florida', Profit=191050.39),
 Row(R&D Spend=144372.41, Administration=118671.85, Marketing Spend=383199.62, State='New York', Profit=182901.99),
 Row(R&D Spend=142107.34, Administration=91391.77, Marketing Spend=366168.42, State='Florida', Profit=166187.94)]

In [29]:
df_Spark.select('Administration')

DataFrame[Administration: double]

In [30]:
df_Spark.select('Administration').show()

+--------------+
|Administration|
+--------------+
|      136897.8|
|     151377.59|
|     101145.55|
|     118671.85|
|      91391.77|
|      99814.71|
|     147198.87|
|     145530.06|
|     148718.95|
|     108679.17|
|     110594.11|
|      91790.61|
|     127320.38|
|     135495.07|
|     156547.42|
|     122616.84|
|     121597.55|
|     145077.58|
|     114175.79|
|     153514.11|
+--------------+
only showing top 20 rows

In [31]:
df_Spark.select(['Administration','State']).show()

+--------------+----------+
|Administration|     State|
+--------------+----------+
|      136897.8|  New York|
|     151377.59|California|
|     101145.55|   Florida|
|     118671.85|  New York|
|      91391.77|   Florida|
|      99814.71|  New York|
|     147198.87|California|
|     145530.06|   Florida|
|     148718.95|  New York|
|     108679.17|California|
|     110594.11|   Florida|
|      91790.61|California|
|     127320.38|   Florida|
|     135495.07|California|
|     156547.42|   Florida|
|     122616.84|  New York|
|     121597.55|California|
|     145077.58|  New York|
|     114175.79|   Florida|
|     153514.11|  New York|
+--------------+----------+
only showing top 20 rows

In [34]:
df_Spark.dtypes

[('R&D Spend', 'double'),
 ('Administration', 'double'),
 ('Marketing Spend', 'double'),
 ('State', 'string'),
 ('Profit', 'double')]

In [36]:
# In state column we have null in summary because of string datatype mean and stddev cannot be calculated 
df_Spark.describe().show()

+-------+-----------------+------------------+------------------+----------+------------------+
|summary|        R&D Spend|    Administration|   Marketing Spend|     State|            Profit|
+-------+-----------------+------------------+------------------+----------+------------------+
|  count|               50|                50|                50|        50|                50|
|   mean|73721.61559999999|121344.63959999995|211025.09780000005|      null|112012.63920000002|
| stddev|45902.25648230754|28017.802755488683|122290.31072584528|      null|40306.180337650534|
|    min|              0.0|          51283.14|               0.0|California|           14681.4|
|    max|         165349.2|         182645.56|          471784.1|  New York|         192261.83|
+-------+-----------------+------------------+------------------+----------+------------------+

In [37]:
# Adding a column
df_Spark=df_Spark.withColumn('Double_Profit',df_Spark['profit']*2)

In [38]:
df_Spark.show()

+---------+--------------+---------------+----------+---------+-------------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|Double_Profit|
+---------+--------------+---------------+----------+---------+-------------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|    384523.66|
| 162597.7|     151377.59|      443898.53|California|191792.06|    383584.12|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|    382100.78|
|144372.41|     118671.85|      383199.62|  New York|182901.99|    365803.98|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|    332375.88|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|    313982.24|
|134615.46|     147198.87|      127716.82|California|156122.51|    312245.02|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|     311505.2|
|120542.52|     148718.95|      311613.29|  New York|152211.77|    304423.54|
|123334.88|     108679.17|      304981.62|California|149759.96|    299519.92|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|     292243.9|
|100671.96|      91790.61|      249744.55|California| 144259.4|     288518.8|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|    283171.04|
| 91992.39|     135495.07|      252664.93|California|134307.35|     268614.7|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|     265205.3|
|114523.61|     122616.84|      261776.23|  New York|129917.04|    259834.08|
| 78013.11|     121597.55|      264346.06|California|126992.93|    253985.86|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|    250740.74|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|     248533.8|
|  86419.7|     153514.11|            0.0|  New York|122776.86|    245553.72|
+---------+--------------+---------------+----------+---------+-------------+
only showing top 20 rows

In [39]:
# Drop the column
df_Spark=df_Spark.drop('Double_profit')

In [40]:
df_Spark.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|            0.0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [41]:
# Renaming the column
df_Spark=df_Spark.withColumnRenamed('R&D Spend','R&D Expenditure')

In [42]:
df_Spark.show()

+---------------+--------------+---------------+----------+---------+
|R&D Expenditure|Administration|Marketing Spend|     State|   Profit|
+---------------+--------------+---------------+----------+---------+
|       165349.2|      136897.8|       471784.1|  New York|192261.83|
|       162597.7|     151377.59|      443898.53|California|191792.06|
|      153441.51|     101145.55|      407934.54|   Florida|191050.39|
|      144372.41|     118671.85|      383199.62|  New York|182901.99|
|      142107.34|      91391.77|      366168.42|   Florida|166187.94|
|       131876.9|      99814.71|      362861.36|  New York|156991.12|
|      134615.46|     147198.87|      127716.82|California|156122.51|
|      130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|      120542.52|     148718.95|      311613.29|  New York|152211.77|
|      123334.88|     108679.17|      304981.62|California|149759.96|
|      101913.08|     110594.11|      229160.95|   Florida|146121.95|
|      100671.96|      91790.61|      249744.55|California| 144259.4|
|       93863.75|     127320.38|      249839.44|   Florida|141585.52|
|       91992.39|     135495.07|      252664.93|California|134307.35|
|      119943.24|     156547.42|      256512.92|   Florida|132602.65|
|      114523.61|     122616.84|      261776.23|  New York|129917.04|
|       78013.11|     121597.55|      264346.06|California|126992.93|
|       94657.16|     145077.58|      282574.31|  New York|125370.37|
|       91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|        86419.7|     153514.11|            0.0|  New York|122776.86|
+---------------+--------------+---------------+----------+---------+
only showing top 20 rows